<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />
    <!--=============== BOOTSTRAP ===============-->
    <!-- 
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    /> -->
    <title>Alwaleed's CV</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Alwaleed's Blog</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active-link">
                <i class="bx bx-home-alt nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#about" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">About</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-book-alt nav__icon"></i>
                <span class="nav__name">Skills</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#portfolio" class="nav__link">
                <i class="bx bx-briefcase-alt nav__icon"></i>
                <span class="nav__name">Achievements</span>
              </a>
            </li>

            <li class="nav__item">
              <a href="#contactme" class="nav__link">
                <i class="bx bx-message-square-detail nav__icon"></i>
                <span class="nav__name">Contactme</span>
              </a>
            </li>
          </ul>
        </div>

        <img
          src="assets/img/me.jpg"
          class="nav__img"
          alt="a picture of me"
          onclick="openModal();"
        />
      </nav>
    </header>

    <main>
      <!--=============== HOME ===============-->
      <section class="container section section__height" id="home">
        <h2 class="section__title"></h2>
        <div class="squares">
          <section class="greetings" id="home">
            <div class="container">
              <p>
                Welcome To <br />
                <span class="typed-text"></span
                ><span class="cursor">&nbsp;</span>
              </p>
            </div>
          </section>
        </div>
      </section>

      <div class="container">
        <article class="hax">
          <h1 id="headline">Wanted to Thank you for visiting ❤️</h1>
        </article>
      </div>

      <!--=============== ABOUT ===============-->
      <section class="container section section__height" id="about">
        <h2 class="section__title">About</h2>

        <div class="about">
          <input type="radio" name="tabs" id="tab1" />
          <input type="radio" name="tabs" id="tab2" />
          <input type="radio" name="tabs" id="tab3" checked="checked" />
          <div class="browser">
            <div class="tabs">
              <label class="tab" for="tab1">
                <div class="text">
                  <i class="fa fa-github-alt"></i>&nbsp;instagram
                </div>
                <div class="close">+</div>
              </label>
              <label class="tab" for="tab2">
                <div class="text">
                  <i class="fa fa-codepen"></i>&nbsp;University
                </div>
                <div class="close">+</div>
              </label>
              <label class="tab" for="tab3">
                <div class="text">
                  <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Alwaleed
                </div>
                <div class="close">+</div>
              </label>
            </div>
            <div class="toolbar">
              <div class="controls">
                <i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i
                ><i class="fa fa-undo"></i>
              </div>
              <div class="url">
                <div class="text">https://instagram.com</div>
                <div class="text">https://hct.edu.om</div>
                <div class="text">https://alwaleedcv.com</div>
              </div>
            </div>
            <div class="display">
              <iframe
                src="https://www.instagram.com/p/CLY941MssRo/embed"
                width="400"
                height="380"
                frameborder="0"
                scrolling="yes"
                allowtransparency="true"
              ></iframe>
              <iframe src="https://hct.edu.om/"></iframe>
              <iframe src="https://imvake.github.io/imvake/"></iframe>
            </div>
          </div>
        </div>
      </section>

      <!--=============== SKILLS ===============-->
      <section class="container section section__height skills" id="skills">
        <h2 class="section__title">Skills</h2>

        <input
          class="variation"
          id="solid"
          type="radio"
          value="1"
          name="border"
          checked="checked"
        />
        <label for="solid"
          ><span class="circle"></span><span>Flat UI</span></label
        >
        <input
          class="variation"
          id="shadow"
          type="radio"
          value="2"
          name="border"
        />
        <label for="shadow">
          <span class="circle"></span><span>Realistic</span></label
        >
        <div class="folder">
          <div class="tabs">
            <button class="tab active" onclick="openTab(event, 'tab-1')">
              <div><span>Life</span></div>
            </button>
            <button class="tab" onclick="openTab(event, 'tab-2')">
              <div><span>Python</span></div>
            </button>
            <button class="tab" onclick="openTab(event, 'tab-3')">
              <div><span>Web Development</span></div>
            </button>
            <!-- <button class="tab" onclick="openTab(event, 'tab-3')">
                    <div><span>Baking</span></div>
                  </button>
                  <button class="tab" onclick="openTab(event, 'tab-4')">
                    <div><span>Cat</span></div>
                  </button> -->
          </div>
          <div class="content">
            <div class="content__inner" id="tab-1">
              <div class="page">
                <h3>My Life</h3>
                <p>
                  <span>Alwaleed</span>
                  I m still Student in
                  <mark
                    ><a href="https://www.utas.edu.om/" style="color: black"
                      >UTAS</a
                    ></mark
                  >
                  Studying Software Engineering, Love Studying and Trying to
                  improve my skills by Self Teaching my slef
                </p>
                <p><b>Previously Work..!</b></p>
                <p>
                  - Library: Worked there only to spend my free time instead of
                  playing Video Games.
                </p>
                <p>- Clinic: Worked on a clinic as a computer technician.</p>
              </div>
            </div>
            <div class="content__inner" id="tab-2">
              <div class="page">
                <h3>Python</h3>
                <p>
                  i have Designed Few apps that mostly are serving me, few of
                  them are serving Other
                </p>
                <p><b>My Python Libraries Intrests are</b></p>
                <p>
                  - Web Scarping: One of the best Libraries iv designed which
                  helps me Signing My courses Before the semester starts.
                </p>
                <p>
                  - Tkinter GUI: I have an Automated whatsapp Reporter for a
                  clinic that sends the report by only filling the inputs.
                </p>
              </div>
            </div>
            <div class="content__inner" id="tab-3">
              <div class="page">
                <h3>Web Development</h3>
                <p>
                  Web Development was my guid going deep into my specialization,
                  i have designed multiple of website that i m porud of, in
                  these are my interests
                </p>
                <p>
                  -
                  <mark> Bootstrap</mark>Having a basic Knowledge about
                  Bootstrap classes and Components
                </p>
                <p>
                  -
                  <mark> React</mark>still not in deep, but i know the basics
                  about react, soon i ll go deep into react native
                </p>
                <p>
                  -
                  <mark>node.js</mark>
                  soon will convert all website i made to node.js
                </p>
                <p>
                  -
                  <mark>MERN Stack</mark>
                </p>
              </div>
            </div>
            <!-- <div class="content__inner" id="tab-3">
                    <div class="page">
                      <p>Cupcake ipsum dolor sit amet jujubes tart. Tiramisu icing gingerbread halvah cake. Marzipan cake soufflé cookie brownie ice cream cupcake. Dragée croissant bonbon ice cream oat cake jelly cookie. Wafer candy dessert jelly jelly-o. </p>
                      <p>Oat cake donut powder pastry wafer brownie cupcake caramels bear claw. Bonbon caramels oat cake cake shortbread. Cake cheesecake candy icing bear claw marshmallow icing jelly. Halvah biscuit pudding danish cookie bonbon gummies.</p>
                    </div>
                  </div>
                  <div class="content__inner" id="tab-4">
                    <div class="page">
                      <p>Miaow then turn around and show you my bum flee in terror at cucumber discovered on floor. Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry sleep on dog bed, force dog to sleep on floor and grab pompom in mouth and put in water dish cats are fats i like to pets them they like to meow back present belly, scratch hand when stroked. </p>
                      <p>Bleghbleghvomit my furball really tie the room together love asdflkjaertvlkjasntvkjn (sits on keyboard) but bawl under human beds.</p>
                    </div> 
                  </div>-->
          </div>
        </div>
      </section>

      <!--=============== PORTFOLIO ===============-->
      <section class="container section section__height" id="portfolio">
        <h2 class="section__title">Achievements</h2>
        <div class="achiv">
          <div class="container">
            <h4 class="section__title">PYTHON</h4>
            <div class="video-contianer">
              <div class="video">
                <figure>
                  <video src="assets/img/vidz/promo.mp4" muted controls></video>
                </figure>
                <figcaption>
                  will send a message to each number on that list.
                </figcaption>
              </div>
              <div class="video">
                <figure>
                  <video
                    src="assets/img/vidz/repsender.mp4"
                    muted
                    controls
                  ></video>
                </figure>
                <figcaption>special request, auto reporter.</figcaption>
              </div>

              <div class="popup-video">
                <span>&times;</span>
                <video src="assets/img/vidz/cims.mp4" muted controls></video>
              </div>
            </div>
            <h4 class="section__title">WEB</h4>
            <div class="video-contianer">
              <div class="video">
                <figure>
                  <video
                    src="assets/img/vidz/agrnode.mp4"
                    muted
                    controls
                  ></video>
                </figure>
                <figcaption>
                  <a
                    href="https://agri-innovate.com"
                    style="color: inherit; text-decoration: none"
                    target="_blank"
                  >
                    agriculture Innoviations website.</a
                  >
                </figcaption>
              </div>
              <div class="video">
                <figure>
                  <video
                    src="assets/img/vidz/tarteel.mp4"
                    muted
                    controls
                  ></video>
                </figure>
                <figcaption>
                  <a
                    href="https://tarteelclinic.com"
                    style="color: inherit; text-decoration: none"
                    target="_blank"
                  >
                    a website designed for a clinic.</a
                  >
                </figcaption>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--=============== CONTACTME ===============-->
      <section class="container section section__height">
        <!-- <h2 class="section__title">Contact Me</h2> -->
      </section>
      <div class="contacttt">
        <section class="get-in-touch" id="contactme">
          <h1 class="title">Get in touch</h1>

          <form action="/send-email" method="POST" novalidate>
            <div class="form">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Name"
                />
                <label
                  class="input-field-icon icon-user"
                  for="login-name"
                ></label>
              </div>

              <div class="form-group">
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Email"
                />
                <label
                  class="input-field-icon icon-email"
                  for="login-email"
                ></label>
              </div>

              <div class="form-group">
                <textarea
                  class="form-control"
                  id="message"
                  name="message"
                  placeholder="Message"
                  id="contact-message"
                  rows="1"
                ></textarea>
              </div>

              <button
                id="contact-send"
                class="btn btn-primary btn-lg btn-block"
              >
                Send
              </button>
              <div
                id="sent"
                style="
                  display: none;
                  background-color: rgb(79, 195, 79);
                  text-align: center;
                  padding: 8px;
                  color: black;
                "
              >
                Message Sent Successfully
              </div>
              <div
                id="err"
                style="
                  display: none;
                  background-color: rgb(195, 79, 79);
                  text-align: center;
                  padding: 8px;
                  color: black;
                "
              >
                There Was an Error, Please Try Again Later
              </div>
            </div>
          </form>
          <script>
            const form = document.querySelector("form");
            const sentDiv = document.getElementById("sent");
            const errDiv = document.getElementById("err");

            form.addEventListener("submit", function (event) {
              event.preventDefault();

              const nameInput = document.getElementById("name");
              const emailInput = document.getElementById("email");
              const messageInput = document.getElementById("message");

              const data = {
                name: nameInput.value,
                email: emailInput.value,
                message: messageInput.value,
              };

              fetch("/send-email", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
              })
                .then((response) => response.json())
                .then((result) => {
                  if (result.success) {
                    // Email sent successfully
                    sentDiv.style.display = "block";
                    errDiv.style.display = "none";
                    form.reset();
                  } else {
                    // Failed to send email
                    errDiv.style.display = "block";
                    sentDiv.style.display = "none";
                  }
                })
                .catch((error) => {
                  // Handle fetch error
                  errDiv.style.display = "block";
                  sentDiv.style.display = "none";
                  console.error(error);
                });
            });
          </script>
        </section>
      </div>
    </main>

    <!--=============== Lightbox JS ===============-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery-js/1.4.0/js/lightgallery.min.js"></script>
    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
    <!--=============== for greetings ===============-->
    <script src="assets/js/writing.js"></script>
    <!--=============== for about ===============-->
    <script src="assets/js/about.js"></script>
    <!--=============== for skills ===============-->
    <script src="assets/js/skills.js"></script>
    <!--=============== for HAX ===============-->
    <script src="assets/js/hax.js"></script>
    <!--=============== for Contact ===============-->
    <script src="assets/js/achievments.js"></script>

    <script>
      document.querySelectorAll(".video-contianer video").forEach((vid) => {
        vid.onclick = () => {
          document.querySelector(".popup-video").style.display = "block";
          document.querySelector(".popup-video video").src =
            vid.getAttribute("src");
        };
      });
      document.querySelector(".popup-video span").onclick = () => {
        document.querySelector(".popup-video").style.display = "none";
      };
    </script>
  </body>
</html>
